@charset "UTF-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
}

input,
a {
  outline: none;
}

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg#iconfont") format("svg");
}
#header_top {
  width: 100%;
  margin: 0 auto;
  height: 34px;
  background: #0067b8;
}
#header_top a {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 34px;
  color: white;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
}

#header_wrap {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background: #f5f5f5;
}

#header {
  width: 1115px;
  margin: 0 auto;
  height: 50px;
  background: #f5f5f5;
  line-height: 50px;
  position: relative;
}
#header .loginContent {
  position: absolute;
  width: 227px;
  height: 406px;
  border: 1px solid #e0e0e0;
  background: white;
  box-sizing: border-box;
  z-index: 998;
  right: 0;
  top: 49px;
  display: none;
}
#header .loginContent .loginContent_top {
  margin: 0 10px;
  padding: 13px 0 9px 20px;
  box-sizing: border-box;
}
#header .loginContent .loginContent_top h4 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  height: 50px;
  line-height: 50px;
}
#header .loginContent .loginContent_top h4 a {
  color: #0067b8;
}
#header .loginContent .loginContent_top ul li {
  line-height: 40px;
}
#header .loginContent .loginContent_top ul li a {
  font-size: 14px;
  color: #333;
}
#header .loginContent .loginContent_bottom {
  text-align: center;
  font-size: 0;
  line-height: 0;
  padding: 20px 0;
}
#header .loginContent .loginContent_bottom .login {
  display: inline-block;
  width: 166px;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 15px;
  background-color: #bbd80a;
  border: none;
}
#header .loginContent .loginContent_bottom p {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 1em 30px;
}
#header .loginContent .loginContent_bottom p a {
  color: #333333;
}
#header img {
  display: block;
  float: left;
  margin-top: 14px;
}
#header a:nth-of-type(2) {
  font-size: 14px;
  margin-left: 60px;
}
#header input {
  width: 345px;
  margin: 0 auto;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #707070;
  text-indent: 5px;
  position: absolute;
  top: 10px;
  right: 125px;
  background: #f5f5f5;
}
#header span {
  font-family: 'iconfont';
  font-size: 20px;
}
#header a:nth-of-type(3) span {
  position: absolute;
  right: 130px;
  font-size: 24px;
}
#header a:nth-of-type(4) span {
  position: absolute;
  right: 85px;
}
#header .login_border_click {
  border: 1px solid #e0e0e0;
  border-bottom: 0;
  background: white;
}
#header .login_border {
  width: 58px;
  height: 45px;
  position: absolute;
  top: 5px;
  right: 0;
  text-align: center;
  box-sizing: border-box;
  z-index: 999;
}
#header .login_border a {
  font-size: 14px;
  position: relative;
  top: -5px;
  left: -5px;
}
#header .login_border i {
  font-style: inherit;
  position: absolute;
  right: 8px;
  top: 2px;
}

#nav_wrap_wrap {
  width: 100%;
  margin: 0 auto;
  height: 71px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav_wrap {
  width: 100%;
  margin: 0 auto;
  height: 71px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav {
  width: 1115px;
  margin: 0 auto;
  height: 71px;
}
#nav ul {
  float: left;
}
#nav ul li {
  float: left;
  line-height: 70px;
  margin-right: 50px;
  position: relative;
}
#nav ul li a {
  color: #0067b8;
  font-size: 14px;
}
#nav ul li:nth-of-type(1) a {
  color: #333333;
  font-size: 16px;
}
#nav ul li:nth-of-type(2) i {
  box-sizing: border-box;
  font-style: inherit;
  position: absolute;
  top: 6px;
}
#nav ul li:nth-of-type(2) ul {
  width: 250px;
  margin: 0 auto;
  height: 278px;
  background: white;
  position: absolute;
  left: -20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
  z-index: 9999;
}
#nav ul li:nth-of-type(2) ul li {
  width: 248px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
  text-indent: 20px;
}
#nav ul li:nth-of-type(2) ul li a {
  font-size: 14px;
  color: #333;
}
#nav ul li:nth-of-type(3) i {
  box-sizing: border-box;
  font-style: inherit;
  position: absolute;
  top: 6px;
}
#nav ul li:nth-of-type(3) ul {
  width: 250px;
  margin: 0 auto;
  height: 278px;
  background: white;
  position: absolute;
  left: -20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
  z-index: 9999;
}
#nav ul li:nth-of-type(3) ul li {
  width: 248px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
  text-indent: 20px;
}
#nav ul li:nth-of-type(3) ul li a {
  font-size: 14px;
  color: #333;
}
#nav .nav_right {
  float: right;
  line-height: 70px;
}
#nav .nav_right a {
  color: #0067b8;
  font-size: 12px;
}
#nav .nav_right span {
  color: #333333;
  font-size: 12px;
  margin: 0 15px 0 30px;
}

#footer-wrap {
  width: 100%;
  margin: 0 auto;
  height: 743px;
  background: #eeeeee;
}
#footer-wrap #footer {
  width: 1115px;
  margin: 0 auto;
  height: 678px;
  background: #EEEEEE;
}
#footer-wrap #footer .footer_top {
  border-bottom: 1px solid #737373;
  color: #666;
  padding: 15px 0;
  line-height: 36px;
}
#footer-wrap #footer .footer_top span {
  line-height: 36px;
  color: #666666;
}
#footer-wrap #footer .footer_top .inpbox {
  display: inline-block;
  height: 30px;
  font-size: 0;
  vertical-align: middle;
  margin: 0 14px;
  box-sizing: border-box;
}
#footer-wrap #footer .footer_top .inpbox input {
  font-size: 14px;
  height: 30px;
  border: 1px solid #cccccc;
  width: 220px;
  padding: 0 5px;
}
#footer-wrap #footer .footer_top .inpbox .btn {
  display: inline-block;
  width: 80px;
  text-decoration: none;
  color: #fff;
  text-decoration: center;
  line-height: 30px;
  background-color: #0067b8;
  font-size: 14px;
  margin-left: -1px;
  text-align: center;
  border: none;
}
#footer-wrap #footer .footer_top a {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #0d71a6;
  text-decoration: underline;
}
#footer-wrap #footer #footer_list {
  width: 1115px;
  margin: 0 auto;
  height: 585px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
#footer-wrap #footer #footer_list li {
  width: 22%;
  display: inline-block;
  vertical-align: top;
}
#footer-wrap #footer #footer_list li h3 {
  font-size: 16px;
  color: #333333;
}
#footer-wrap #footer #footer_list li .links {
  margin-top: 30px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
#footer-wrap #footer #footer_list li .links li {
  width: 100%;
  height: 30px;
  white-space: nowrap;
}
#footer-wrap #footer #footer_list li .links li a {
  color: #0d72a6;
  line-height: 30px;
}
#footer-wrap #footer #footer_list li .qita_1 {
  display: block;
  margin-top: 23px;
  color: #0d72a6;
  line-height: 30px;
  font-size: 14px;
}
#footer-wrap #footer #footer_list li .links_fg {
  margin-top: 23px;
}
#footer-wrap #footer #footer_list li .guanzhu ul {
  margin-top: 16px;
  font-size: 14px;
}
#footer-wrap #footer #footer_list li .guanzhu ul li {
  display: flex;
  height: auto;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .xinlang {
  width: 47%;
  display: inline-block;
  text-align: center;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .xinlang a {
  display: block;
  padding-top: 55px;
  box-sizing: border-box;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .xinlang a img {
  display: inline-block;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .weixin {
  text-align: center;
  width: 49%;
  display: inline-block;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .weixin img {
  display: inline-block;
  width: 104px;
  height: 102px;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .weixin p {
  line-height: 19px;
  text-align: center;
}
#footer-wrap #footer #footer_list li .guanzhu ul li .weixin p img {
  display: inline-block;
  width: 16px;
  height: 12px;
}
#footer-wrap #footer_bottom_wrap {
  height: 60px;
  width: 100%;
  background: #f2f2f2;
}
#footer-wrap #footer_bottom_wrap .footer_bottom {
  width: 1115px;
  margin: 0 auto;
  height: 60px;
  background: #f2f2f2;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_left {
  width: 150px;
  height: 60px;
  overflow: hidden;
  float: left;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_left a {
  display: inline-block;
  line-height: 60px;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_left a img {
  display: inline-block;
  width: 15px;
  height: 17px;
  position: relative;
  top: 4px;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_left a span {
  display: inline-block;
  color: #000;
  vertical-align: middle;
  padding: 0 10px;
  font-size: 12px;
  box-sizing: border-box;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_right {
  height: 60px;
  float: right;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_right a {
  color: #333333;
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  line-height: 60px;
}
#footer-wrap #footer_bottom_wrap .footer_bottom .footer_bottom_right a img {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 4px;
}

#servers_btn {
  position: fixed;
  display: block;
  width: 35px;
  height: 113px;
  background: url(../img/servers.png) no-repeat center/cover;
  right: 0;
  top: 50%;
  margin-top: -66px;
  border: none;
  cursor: pointer;
}

#subscription_btn {
  position: fixed;
  display: block;
  width: 35px;
  height: 39px;
  background: url(../img/subscription.png) no-repeat center/cover;
  right: 0;
  bottom: 86px;
  z-index: 8999;
  border: none;
}

#Global_ScrollToTop {
  z-index: 8999;
  position: fixed;
  width: 35px;
  height: 35px;
  right: 0;
  bottom: 30px;
  background: url(../img/global.png) no-repeat center/cover;
  cursor: pointer;
  border: none;
  display: none;
}

#zhezhao {
  position: fixed;
  z-index: 10010;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
#zhezhao .dingyue {
  background-color: #eee;
  width: 360px;
  height: 320px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  padding-top: 30px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
}
#zhezhao .dingyue .close {
  width: 15px;
  height: 15px;
  position: absolute;
  font-size: 34px;
  right: 18px;
  top: 0px;
}
#zhezhao .dingyue .dingyue_main {
  width: 260px;
  text-align: center;
  display: inline-block;
}
#zhezhao .dingyue .dingyue_main h3 {
  font-size: 22px;
  color: #333333;
  font-weight: 600;
}
#zhezhao .dingyue .dingyue_main p {
  margin: 10px 0;
  color: #333;
}
#zhezhao .dingyue .dingyue_main span {
  display: block;
  font-size: 14px;
  margin: 5px 0;
  text-align: left;
}
#zhezhao .dingyue .dingyue_main input {
  display: block;
  border: 1px solid #cccccc;
  font-size: 14px;
  height: 30px;
  width: 90%;
  margin-bottom: 5px;
  text-indent: 5px;
}
#zhezhao .dingyue .dingyue_main .linkBox {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  width: 240px;
  text-align: right;
  line-height: 30px;
}
#zhezhao .dingyue .dingyue_main .linkBox a {
  display: inline-block;
  margin-right: 5px;
  color: #0d71a6;
}
#zhezhao .dingyue .dingyue_main .linkBox button {
  vertical-align: top;
  width: 80px;
  height: 30px;
  display: inline-block;
  color: #fff;
  background-color: #0067b8;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  position: relative;
  border: none;
}
#zhezhao .dingyue .dingyue_main .loader {
  text-align: right;
  width: 240px;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: #dc0000;
  position: relative;
  top: -2px;
  min-height: 16px;
}

/*# sourceMappingURL=public.css.map */
