.kongbai {
  width: 1115px;
  margin: 0 auto;
  height: 10px;
}

/*================index===================*/
#banner {
  width: 1115px;
  margin: 0 auto;
  height: 426px;
  position: relative;
  overflow: hidden;
}
#banner span {
  width: 50px;
  margin: 0 auto;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 24px;
  display: none;
  box-shadow: 3px 3px 10px black;
}
#banner ul {
  width: 300%;
  position: absolute;
  top: 0;
  left: 0;
}
#banner ul li {
  float: left;
}
#banner ul li img {
  width: 1115px;
  margin: 0 auto;
  height: 426px;
}
#banner ol {
  width: 60px;
  margin: 0 auto;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: flex;
}
#banner ol li {
  width: 8px;
  margin: 0 auto;
  height: 8px;
  border: 1px solid #333333;
  border-radius: 50%;
}
#banner ol .current {
  background: #333333;
}
#banner .button_left {
  left: 0;
}
#banner .button_right {
  right: 0;
}

#mainContainer {
  width: 1115px;
  margin: 0 auto;
  height: 320px;
  margin-top: 10px;
}
#mainContainer ul {
  width: 252px;
  margin: 0 auto;
  height: 320px;
  background: #0067b8;
  text-align: center;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}
#mainContainer ul li a {
  color: #fff;
  font-size: 18px;
}
#mainContainer ul li:nth-of-type(1) {
  padding-top: 4%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
#mainContainer ul li:nth-of-type(9) {
  padding-bottom: 6%;
}
#mainContainer .mainContainer_right {
  width: 818px;
  margin: 0 auto;
  height: 320px;
  float: right;
}
#mainContainer .mainContainer_right ul {
  width: 818px;
  margin: 0 auto;
  height: 320px;
  flex-direction: row;
  background: white;
  text-align: left;
  justify-content: space-between;
}
#mainContainer .mainContainer_right ul li {
  padding: 0;
}
#mainContainer .mainContainer_right ul li a {
  color: #000000;
  font-weight: 100;
  font-size: 16px;
}
#mainContainer .mainContainer_right ul li a img {
  display: block;
  width: 262px;
  margin: 0 auto;
  height: 143px;
  margin: 0;
}
#mainContainer .mainContainer_right ul li a p {
  width: 262px;
  margin: 0 auto;
  height: 90px;
  margin: 10px 0 5px 0;
}
#mainContainer .mainContainer_right ul li a .more {
  color: #0067b8;
}

#sliderList {
  width: 1115px;
  margin: 0 auto;
  height: 377px;
  margin-top: 37px;
}
#sliderList .list_top {
  width: 1115px;
  margin: 0 auto;
  height: 60px;
  color: #333;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #000000;
}
#sliderList .list_main {
  width: 1115px;
  margin: 0 auto;
  height: 316px;
  position: relative;
}
#sliderList .list_main ul {
  width: 1021px;
  margin: 0 auto;
  height: 306px;
  position: absolute;
  bottom: 0;
  left: 62px;
  display: flex;
  justify-content: space-between;
}
#sliderList .list_main ul li img {
  display: block;
  width: 202px;
  margin: 0 auto;
  height: 151px;
}
#sliderList .list_main ul li h4 {
  margin-top: 15px;
  color: #333;
}
#sliderList .list_main ul li p {
  font-size: 13px;
  color: #666;
  line-height: 30px;
}
#sliderList .list_main ul li span {
  display: block;
  margin-top: 35px;
  line-height: 24px;
  color: red;
}

#indexList {
  width: 1115px;
  margin: 0 auto;
  height: 20px;
}

#productChannels {
  width: 1115px;
  margin: 0 auto;
  height: 404px;
}
#productChannels .Channels_top {
  width: 1115px;
  margin: 0 auto;
  height: 60px;
  color: black;
  font-size: 30px;
  line-height: 60px;
}
#productChannels .bg_1 {
  background: url(../img/Surface00.png) no-repeat;
  background-position: 0 145px;
}
#productChannels .bg_2 {
  background: url(../img/Offic00.png) no-repeat;
  background-position: 18px 115px;
}
#productChannels .bg_3 {
  background: url(../img/Xbox00.jpg) no-repeat;
  background-position: 15px 85px;
}
#productChannels .bg_4 {
  background: url(../img/Peijian00.png) no-repeat;
  background-position: 0 145px;
}
#productChannels .inner {
  width: 278px;
  margin: 0 auto;
  height: 342px;
  border: 1px solid #e4e4e4;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}
#productChannels .inner p {
  font-size: 18px;
  line-height: 28px;
}
#productChannels .inner a {
  font-size: 14px;
  color: #5E5E5E;
}
#productChannels .inner_2 {
  width: 278px;
  margin: 0 auto;
  height: 342px;
  border: 1px solid #e4e4e4;
  border-left: 0;
  box-sizing: border-box;
  padding: 15px;
  float: left;
}
#productChannels .inner_2 img {
  display: block;
  width: 256px;
  margin: 0 auto;
  height: 154px;
}
#productChannels .inner_2 h3 {
  margin-top: 8%;
  color: #333;
  font-size: 16px;
  color: black;
}
#productChannels .inner_2 p {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  overflow: hidden;
  margin: 3% 0 14% 0;
}
#productChannels .inner_2 span {
  color: #da3b01;
  font-size: 13px;
  line-height: 18px;
}
#productChannels .inner_2 span strong {
  font-size: 18px;
}

#indexSecond {
  width: 100%;
  margin: 0 auto;
  height: 45px;
}

#content {
  width: 100%;
  margin: 0 auto;
  height: 97px;
  border-top: 1px solid #CCCCCC;
}
#content ul {
  width: 1115px;
  margin: 0 auto;
  height: 97px;
  display: flex;
  flex-direction: row;
}
#content ul li:nth-of-type(6) {
  border: 0;
}
#content ul li {
  height: 54px;
  flex: 1;
  border-right: 1px solid #CCCCCC;
  box-sizing: border-box;
  vertical-align: top;
  margin: 21px 0;
}
#content ul li a {
  text-align: center;
}
#content ul li a .tubiao {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
#content ul li a .jlt_1 {
  background: url(../img/jingling.png) no-repeat left top;
}
#content ul li a .jlt_2 {
  background: url(../img/jingling.png) no-repeat -45px top;
}
#content ul li a .jlt_3 {
  background: url(../img/jingling.png) no-repeat -89px top;
}
#content ul li a .jlt_4 {
  background: url(../img/jingling.png) no-repeat -138px top;
}
#content ul li a .jlt_5 {
  background: url(../img/jingling.png) no-repeat -188px top;
}
#content ul li a .jlt_6 {
  background: url(../img/jingling.png) no-repeat -236px top;
}
#content ul li a p {
  font-size: 16px;
  line-height: 24px;
  color: #666;
  margin-top: 5px;
}

#bottom_wrap {
  width: 100%;
  margin: 0 auto;
  height: 245px;
}
#bottom_wrap #bottom {
  width: 1115px;
  margin: 0 auto;
  height: 245px;
}
#bottom_wrap #bottom .bottom_top {
  height: 60px;
  font-size: 30px;
  line-height: 60px;
}
#bottom_wrap #bottom ul {
  width: 1115px;
  margin: 0 auto;
  height: 185px;
}
#bottom_wrap #bottom ul li {
  width: 10.53497942%;
  margin: 0 0.90534979%;
  box-sizing: border-box;
  position: relative;
  float: left;
}
#bottom_wrap #bottom ul li img {
  width: 100%;
  display: block;
  margin-bottom: 9%;
}
#bottom_wrap #bottom ul li p {
  display: block;
  line-height: 18px;
  color: #004d91;
  font-size: 14px;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#bottom_wrap #bottom ul li .stars {
  width: 93px;
  height: 16px;
  position: relative;
  background-color: #C7C7C7;
}
#bottom_wrap #bottom ul li .stars img {
  display: block;
  height: 16px;
  position: absolute;
  z-index: 100;
}
#bottom_wrap #bottom ul li .stars .progress {
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  background-color: #da3b01;
}

/*================login_1===================*/
.login_1 {
  background: #f5f5f5;
}

#login_1_banner {
  width: 1115px;
  margin: 0 auto;
  height: 600px;
}
#login_1_banner .login_1_inner {
  width: 590px;
  height: 308px;
  margin: 30px auto;
  background-color: #fff;
  padding: 36px 0 0;
}
#login_1_banner .login_1_inner h2 {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
}
#login_1_banner .login_1_inner .con {
  font-size: 0;
  margin: 26px 30px 30px;
  height: 185px;
}
#login_1_banner .login_1_inner .con .con_left {
  width: 50%;
  border-right: 1px solid #cccccc;
  height: 100%;
  float: left;
  vertical-align: top;
  box-sizing: border-box;
}
#login_1_banner .login_1_inner .con .con_left .p1 {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
#login_1_banner .login_1_inner .con .con_left .a1 {
  display: inline-block;
  width: 240px;
  height: 45px;
  background: url(../img/Microsoft_zh.png) no-repeat center/cover;
  margin-bottom: 22px;
}
#login_1_banner .login_1_inner .con .con_left .p2 {
  line-height: 22px;
  margin-right: 15px;
  font-size: 14px;
  color: #666;
}
#login_1_banner .login_1_inner .con .con_left .p2 a {
  color: #0067b8;
}
#login_1_banner .login_1_inner .con .con_right {
  width: 50%;
  float: right;
  vertical-align: top;
  padding: 0 25px;
  box-sizing: border-box;
}
#login_1_banner .login_1_inner .con .con_right p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}
#login_1_banner .login_1_inner .con .con_right a {
  display: inline-block;
  width: 34px;
  margin-right: 20px;
  height: 34px;
  vertical-align: top;
  margin-bottom: 10px;
}
#login_1_banner .login_1_inner .con .con_right a img {
  width: 34px;
  height: 34px;
  display: inline-block;
}

/*==================create=======================*/
.create {
  background: url(../img/create_bg.jpg);
  background-size: cover;
}

#create_maddle_wrap {
  height: 100%;
  position: relative;
  overflow: hidden;
}
#create_maddle_wrap #create_maddle {
  width: 438px;
  height: 338px;
  background: white;
  padding: 44px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
}
#create_maddle_wrap #create_maddle h2 {
  color: #404040;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 12px;
}
#create_maddle_wrap #create_maddle a {
  display: block;
  color: #0067b8;
  margin-top: 15px;
  font-size: 14px;
}
#create_maddle_wrap #create_maddle .create_input_1 {
  margin-top: 8px;
}
#create_maddle_wrap #create_maddle .create_input_1 #email {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  line-height: 30px;
}
#create_maddle_wrap #create_maddle .create_input_2 {
  margin-top: 8px;
  display: none;
}
#create_maddle_wrap #create_maddle .create_input_2 .create_telfrom {
  width: 100%;
  height: 35px;
  border: 0;
  border-bottom: 1px solid black;
  font-size: 15px;
}
#create_maddle_wrap #create_maddle .create_input_2 #create_tel {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  line-height: 30px;
  margin-top: 10px;
  font-size: 15px;
}
#create_maddle_wrap #create_maddle .create_input_3 {
  display: none;
  margin-top: 8px;
}
#create_maddle_wrap #create_maddle .create_input_3 .ci3_border {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid black;
}
#create_maddle_wrap #create_maddle .create_input_3 .ci3_border #setemail {
  width: 60%;
  height: 34px;
  border: none;
  font-size: 15px;
}
#create_maddle_wrap #create_maddle .create_input_3 .ci3_border .email_houzhui {
  width: 35%;
  height: 34px;
  border: none;
}
#create_maddle_wrap #create_maddle .next {
  width: 108px;
  height: 32px;
  text-align: center;
  color: white;
  background: #005da6;
  border: none;
  position: absolute;
  right: 44px;
  bottom: 44px;
}

/*==============xiangqingye======================*/
#current_pos_wrap {
  background: white;
}

#current_pos {
  width: 1115px;
  margin: 0 auto;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  background: white;
}
#current_pos a {
  color: #515151;
}

#banner_xq_wrap {
  background: white;
}

#banner_xq {
  width: 1115px;
  margin: 0 auto;
  height: 100%;
  background: white;
}
#banner_xq .banner_xq_left {
  width: 50%;
  height: 510px;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 15px;
  position: relative;
}
#banner_xq .banner_xq_left .big_pic {
  width: 500px;
  height: 330px;
  position: relative;
}
#banner_xq .banner_xq_left .big_pic #mark {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 100;
}
#banner_xq .banner_xq_left .big_pic #small_box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  background: white;
  opacity: .3;
  position: absolute;
  z-index: 99;
  display: none;
}
#banner_xq .banner_xq_left .big_pic img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
}
#banner_xq .banner_xq_left #eye {
  width: 500px;
  height: 330px;
  border: 1px solid black;
  position: absolute;
  top: 15px;
  overflow: hidden;
  left: 500px;
  z-index: 10;
  display: none;
}
#banner_xq .banner_xq_left #eye img {
  width: 300%;
  height: 300%;
  position: absolute;
  background: white;
}
#banner_xq .banner_xq_left .small_pic {
  width: 258px;
  margin: 0 auto;
  height: 66px;
  display: flex;
  justify-content: space-between;
}
#banner_xq .banner_xq_left .small_pic a {
  display: block;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  padding: 10px 0;
}
#banner_xq .banner_xq_left .small_pic a img {
  width: 60px;
  height: 40px;
  display: inline-block;
}
#banner_xq .banner_xq_left .referral {
  width: 555px;
  margin: 0 auto;
  height: 75px;
  background-color: #f6f6f6;
  padding: 7px;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin-top: 20px;
  box-sizing: border-box;
  text-indent: 28px;
}
#banner_xq .banner_xq_right {
  width: 48%;
  height: 606px;
  display: inline-block;
  overflow: hidden;
}
#banner_xq .banner_xq_right .kongbai {
  height: 65px;
}
#banner_xq .banner_xq_right h1 {
  font-size: 24px;
  line-height: 30px;
}
#banner_xq .banner_xq_right .xq_price {
  height: 80px;
  border-bottom: 1px solid #c7c7c7;
  line-height: 80px;
  position: relative;
  font-size: 14px;
}
#banner_xq .banner_xq_right .xq_price .shoujia {
  font-size: 14px;
}
#banner_xq .banner_xq_right .xq_price .rmb {
  font-size: 24px;
  color: #da3b01;
}
#banner_xq .banner_xq_right .xq_price .evaluate {
  width: 207px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#banner_xq .banner_xq_right .xq_price .evaluate img {
  width: 116px;
  height: 20px;
  display: inline-block;
  background: #C0C0C0;
  position: relative;
  top: 5px;
}
#banner_xq .banner_xq_right p {
  line-height: 21px;
  font-size: 14px;
  box-sizing: border-box;
  margin: 20px 0;
}
#banner_xq .banner_xq_right p a {
  color: #0067b8;
}
#banner_xq .banner_xq_right h5 {
  display: block;
  height: 52px;
  font-size: 16px;
  line-height: 60px;
}
#banner_xq .banner_xq_right .options {
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c7c7c7;
}
#banner_xq .banner_xq_right .options .options_btn {
  display: inline-block;
  width: 260px;
  height: 40px;
  border: 1px solid #cccccc;
  font-size: 14px;
  line-height: 40px;
  text-indent: 5px;
}
#banner_xq .banner_xq_right .options .options_btn span {
  font-size: 12px;
}
#banner_xq .banner_xq_right .xq_buy {
  height: 75px;
  box-sizing: border-box;
  padding-top: 25px;
}
#banner_xq .banner_xq_right .xq_buy a {
  width: 150px;
  height: 35px;
  line-height: 35px;
  border: none;
  text-align: center;
  font-size: 14px;
  background-color: #da3b01;
  color: #fff;
  margin-bottom: 15px;
  float: right;
}

#stairs_wrap {
  width: 100%;
  height: 72px;
}

#stairs {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #CCCCCC;
}
#stairs ul {
  width: 1115px;
  margin: 0 auto;
  height: 72px;
}
#stairs ul li {
  float: left;
}
#stairs ul li a {
  float: left;
  width: 86px;
  height: 72px;
  line-height: 72px;
  font-size: 14px;
  text-align: center;
}

.xq_img1_wrap {
  background: black;
}
.xq_img1_wrap .xq_img1 {
  width: 1115px;
  margin: 0 auto;
  height: 312px;
}
.xq_img1_wrap .xq_img1 img {
  width: 100%;
  height: 312px;
}

.xq_img2 {
  width: 1115px;
  margin: 0 auto;
  height: 353px;
  background: url(../img/xq_img2.png) no-repeat center/cover;
  position: relative;
}
.xq_img2 h4 {
  font-size: 36px;
  color: white;
  position: absolute;
  right: 100px;
  top: 70px;
}
.xq_img2 p {
  position: absolute;
  right: 35px;
  top: 135px;
  width: 460px;
  height: 115px;
  color: white;
  font-size: 18px;
  margin-bottom: 22px;
}

.xq_img3 {
  width: 1115px;
  margin: 0 auto;
  height: 385px;
  overflow: hidden;
  position: relative;
  margin-top: 50px;
}
.xq_img3 h4 {
  width: 327px;
  font-size: 36px;
  margin: 80px 0 15px 20px;
}
.xq_img3 p {
  margin-left: 20px;
  width: 327px;
  height: 69px;
  font-size: 18px;
}
.xq_img3 p a {
  color: #0077d3;
}
.xq_img3 img {
  width: 730px;
  height: 385px;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
}

.xq_img4_wrap {
  background: #0078d7;
}

.xq_img4 {
  position: relative;
  width: 1115px;
  margin: 0 auto;
  height: 353px;
  background: url(../img/xq_img4.png) no-repeat center/cover;
  position: relative;
}
.xq_img4 h4 {
  right: 350px;
}
.xq_img4 p a {
  color: white;
  text-decoration: underline;
}

.xq_img5 {
  width: 1115px;
  margin: 0 auto;
  height: 393px;
  position: relative;
}
.xq_img5 img {
  width: 754px;
  height: 356px;
  display: inline-block;
}
.xq_img5 .img5_textcontent {
  position: absolute;
  top: 60px;
  right: 0;
  width: 289px;
  height: 283px;
}
.xq_img5 .img5_textcontent h4 {
  font-size: 36px;
  margin-bottom: 15px;
}
.xq_img5 .img5_textcontent P {
  margin-bottom: 10px;
  font-size: 18px;
}

.xq_title {
  width: 1115px;
  margin: 0 auto;
  height: 47px;
  margin-bottom: 30px;
  font-size: 36px;
}

#xq_mainContainer {
  width: 1115px;
  margin: 0 auto;
  height: 100%;
}
#xq_mainContainer ul:nth-of-type(1) {
  float: left;
}
#xq_mainContainer ul {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid #999999;
  margin-right: -1px;
  border-bottom: 0;
}
#xq_mainContainer ul li:nth-of-type(1) {
  height: 178px;
}
#xq_mainContainer ul li:nth-of-type(2) {
  height: 246px;
}
#xq_mainContainer ul li:nth-of-type(3) {
  height: 158px;
}
#xq_mainContainer ul li:nth-of-type(4) {
  height: 308px;
}
#xq_mainContainer ul li:nth-of-type(5) {
  height: 210px;
}
#xq_mainContainer ul li:nth-of-type(5) a {
  color: #0067b8;
}
#xq_mainContainer ul li {
  border-bottom: 1px solid #999999;
}
#xq_mainContainer ul li .xq_title_name {
  font-size: 18px;
  display: inline-block;
  width: 26%;
  box-sizing: border-box;
  border-right: 1px solid #999999;
  height: 100%;
  padding-left: 14px;
  vertical-align: top;
}
#xq_mainContainer ul .xq_title_con {
  font-size: 18px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 73%;
  height: 100%;
  padding: 0 36px;
  line-height: 28px;
}
#xq_mainContainer ul .xq_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#xq_mainContainer ul .xq_inner span {
  display: inline-block;
  vertical-align: middle;
}

#xq_questions {
  width: 1115px;
  margin: 0 auto;
  height: 100%;
}
#xq_questions .xq_questions_cons {
  padding-left: 15px;
  box-sizing: border-box;
}
#xq_questions .xq_questions_cons .part {
  margin-bottom: 28px;
}
#xq_questions .xq_questions_cons .part h5 {
  font-size: 24px;
  margin-bottom: 5px;
}
#xq_questions .xq_questions_cons .part .q {
  font-size: 24px;
  margin-bottom: 5px;
}
#xq_questions .xq_questions_cons .part .a {
  font-size: 18px;
  line-height: 28px;
}

#xq_comment_wrap {
  background: white;
}

#xq_comment {
  width: 1115px;
  margin: 0 auto;
  height: 100%;
  background: white;
  box-sizing: border-box;
  padding: 50px 0;
}
#xq_comment .comment_container {
  width: 1115px;
  margin: 0 auto;
  height: 71px;
  position: relative;
}
#xq_comment .comment_container h3 {
  font-size: 40px;
  color: #333333;
}
#xq_comment .comment_container p {
  font-size: 14px;
  color: #333333;
}
#xq_comment .comment_container a {
  position: absolute;
  top: 42px;
  right: 0;
  display: inline-block;
  width: 150px;
  height: 35px;
  line-height: 34px;
  border: 1px solid #da3b01;
  text-align: center;
  font-size: 14px;
  color: #da3b01;
  background-color: #fff;
}
#xq_comment .xq_comments {
  margin-top: 20px;
  box-sizing: border-box;
}
#xq_comment .xq_comments li {
  margin-bottom: 20px;
}
#xq_comment .xq_comments li .xq_comment_container {
  font-size: 16px;
  background-color: #f5f5f5;
  padding: 20px 30px;
  line-height: 24px;
  box-sizing: border-box;
}
#xq_comment .xq_comments li .xq_comment_container .xq_title_box .xq_tit {
  font-size: 18px;
  color: #000000;
  display: inline-block;
}
#xq_comment .xq_comments li .xq_comment_container .xq_title_box img {
  display: inline-block;
  width: 148px;
  height: 24px;
  float: right;
  background: red;
}
#xq_comment .xq_comments li .xq_comment_container .xq_content {
  margin-top: 20px;
  color: #666666;
}
#xq_comment .xq_comments li .xq_comment_container .xq_time {
  margin-top: 14px;
}
#xq_comment .xq_pager {
  height: 50px;
  background: #f5f5f5;
  line-height: 50px;
  color: #666666;
  font-size: 0;
  text-align: right;
}
#xq_comment .xq_pager span {
  font-size: 16px;
  margin-right: 15px;
}
#xq_comment .xq_pager button {
  width: 90px;
  height: 35px;
  border: none;
  display: inline-block;
  color: #1370a5;
  text-align: center;
  background-color: #fff;
  font-size: 14px;
  margin-top: 7px;
  line-height: 35px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
