@mixin common($h, $w:1115px) {
    width: $w;
    margin: 0 auto;
    height: $h;
}

.kongbai {
    @include common(10px);
}


/*================index===================*/

#banner {
    @include common(426px);
    position: relative;
    overflow: hidden;
    span {
        @include common(50px, 50px);
        display: block;
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, .5);
        z-index: 9;
        text-align: center;
        line-height: 50px;
        transform: translateY(-50%);
        top: 50%;
        font-size: 24px;
        display: none;
        box-shadow: 3px 3px 10px black;
    }
    ul {
        width: 300%;
        position: absolute;
        top: 0;
        left: 0;
        li {
            float: left;
            img {
                @include common(426px);
            }
        }
    }
    ol {
        @include common(10px, 60px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        display: flex;
        li {
            @include common(8px, 8px);
            border: 1px solid #333333;
            border-radius: 50%;
        }
        .current {
            background: #333333;
        }
    }
    .button_left {
        left: 0;
    }
    .button_right {
        right: 0;
    }
}

#mainContainer {
    @include common(320px);
    margin-top: 10px;
    ul {
        @include common(320px, 252px);
        background: #0067b8;
        text-align: center;
        float: left;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-around;
        li {
            a {
                color: #fff;
                font-size: 18px;
            }
        }
        li:nth-of-type(1) {
            padding-top: 4%;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
        li:nth-of-type(9) {
            padding-bottom: 6%;
        }
    }
    .mainContainer_right {
        @include common(320px, 818px);
        float: right;
        ul {
            @include common(320px, 818px);
            flex-direction: row;
            background: white;
            text-align: left;
            justify-content: space-between;
            li {
                padding: 0;
                a {
                    color: #000000;
                    font-weight: 100;
                    font-size: 16px;
                    img {
                        display: block;
                        @include common(143px, 262px);
                        margin: 0;
                    }
                    p {
                        @include common(90px, 262px);
                        margin: 10px 0 5px 0;
                    }
                    .more {
                        color: #0067b8;
                    }
                }
            }
        }
    }
}

#sliderList {
    @include common(377px);
    margin-top: 37px;
    .list_top {
        @include common(60px);
        color: #333;
        font-size: 30px;
        line-height: 60px;
        border-bottom: 1px solid #000000;
    }
    .list_main {
        @include common(316px);
        position: relative;
        ul {
            @include common(306px, 1021px);
            position: absolute;
            bottom: 0;
            left: 62px;
            display: flex;
            justify-content: space-between;
            li {
                img {
                    display: block;
                    @include common(151px, 202px);
                }
                h4 {
                    margin-top: 15px;
                    color: #333;
                }
                p {
                    font-size: 13px;
                    color: #666;
                    line-height: 30px;
                }
                span {
                    display: block;
                    margin-top: 35px;
                    line-height: 24px;
                    color: red;
                }
            }
        }
    }
}

#indexList {
    @include common(20px);
}

#productChannels {
    @include common(404px);
    .Channels_top {
        @include common(60px);
        color: black;
        font-size: 30px;
        line-height: 60px;
    }
    .bg_1 {
        background: url(../img/Surface00.png) no-repeat;
        background-position: 0 145px;
    }
    .bg_2 {
        background: url(../img/Offic00.png) no-repeat;
        background-position: 18px 115px;
    }
    .bg_3 {
        background: url(../img/Xbox00.jpg) no-repeat;
        background-position: 15px 85px;
    }
    .bg_4 {
        background: url(../img/Peijian00.png) no-repeat;
        background-position: 0 145px;
    }
    .inner {
        @include common(342px, 278px);
        border: 1px solid #e4e4e4;
        float: left;
        box-sizing: border-box;
        padding: 15px;
        p {
            font-size: 18px;
            line-height: 28px;
        }
        a {
            font-size: 14px;
            color: #5E5E5E;
        }
    }
    .inner_2 {
        @include common(342px, 278px);
        border: 1px solid #e4e4e4;
        border-left: 0;
        box-sizing: border-box;
        padding: 15px;
        float: left;
        img {
            display: block;
            @include common(154px, 256px);
        }
        h3 {
            margin-top: 8%;
            color: #333;
            font-size: 16px;
            color: black;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            color: #666666;
            overflow: hidden;
            margin: 3% 0 14% 0;
        }
        span {
            color: #da3b01;
            font-size: 13px;
            line-height: 18px;
            strong {
                font-size: 18px;
            }
        }
    }
}

#indexSecond {
    @include common(45px, 100%);
}

#content {
    @include common(97px, 100%);
    border-top: 1px solid #CCCCCC;
    ul {
        @include common(97px);
        display: flex;
        flex-direction: row;
        li:nth-of-type(6) {
            border: 0;
        }
        li {
            height: 54px;
            flex: 1;
            border-right: 1px solid #CCCCCC;
            box-sizing: border-box;
            vertical-align: top;
            margin: 21px 0;
            a {
                text-align: center;
                .tubiao {
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                }
                .jlt_1 {
                    background: url(../img/jingling.png) no-repeat left top;
                }
                .jlt_2 {
                    background: url(../img/jingling.png) no-repeat -45px top;
                }
                .jlt_3 {
                    background: url(../img/jingling.png) no-repeat -89px top;
                }
                .jlt_4 {
                    background: url(../img/jingling.png) no-repeat -138px top;
                }
                .jlt_5 {
                    background: url(../img/jingling.png) no-repeat -188px top;
                }
                .jlt_6 {
                    background: url(../img/jingling.png) no-repeat -236px top;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #666;
                    margin-top: 5px;
                }
            }
        }
    }
}

#bottom_wrap {
    @include common(245px, 100%);
    #bottom {
        @include common(245px);
        .bottom_top {
            height: 60px;
            font-size: 30px;
            line-height: 60px;
        }
        ul {
            @include common(185px);
            li {
                width: 10.53497942%;
                margin: 0 0.90534979%;
                box-sizing: border-box;
                position: relative;
                float: left;
                img {
                    width: 100%;
                    display: block;
                    margin-bottom: 9%;
                }
                p {
                    display: block;
                    line-height: 18px;
                    color: #004d91;
                    font-size: 14px;
                    height: 36px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .stars {
                    width: 93px;
                    height: 16px;
                    position: relative;
                    background-color: #C7C7C7;
                    img {
                        display: block;
                        height: 16px;
                        position: absolute;
                        z-index: 100;
                    }
                    .progress {
                        z-index: 99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 16px;
                        background-color: #da3b01;
                    }
                }
            }
        }
    }
}


/*================login_1===================*/

.login_1 {
    background: #f5f5f5;
}

#login_1_banner {
    @include common(600px);
    .login_1_inner {
        width: 590px;
        height: 308px;
        margin: 30px auto;
        background-color: #fff;
        padding: 36px 0 0;
        h2 {
            text-align: center;
            font-size: 24px;
            line-height: 30px;
        }
        .con {
            font-size: 0;
            margin: 26px 30px 30px;
            height: 185px;
            .con_left {
                width: 50%;
                border-right: 1px solid #cccccc;
                height: 100%;
                float: left;
                vertical-align: top;
                box-sizing: border-box;
                .p1 {
                    font-size: 14px;
                    color: #666;
                    margin-bottom: 10px;
                }
                .a1 {
                    display: inline-block;
                    width: 240px;
                    height: 45px;
                    background: url(../img/Microsoft_zh.png) no-repeat center/cover;
                    margin-bottom: 22px;
                }
                .p2 {
                    line-height: 22px;
                    margin-right: 15px;
                    font-size: 14px;
                    color: #666;
                    a {
                        color: #0067b8;
                    }
                }
            }
            .con_right {
                width: 50%;
                float: right;
                vertical-align: top;
                padding: 0 25px;
                box-sizing: border-box;
                p {
                    font-size: 14px;
                    color: #666;
                    margin-bottom: 10px;
                }
                a {
                    display: inline-block;
                    width: 34px;
                    margin-right: 20px;
                    height: 34px;
                    vertical-align: top;
                    margin-bottom: 10px;
                    img {
                        width: 34px;
                        height: 34px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}


/*==================create=======================*/

.create {
    background: url(../img/create_bg.jpg);
    background-size: cover;
}

#create_maddle_wrap {
    height: 100%;
    position: relative;
    overflow: hidden;
    #create_maddle {
        width: 438px;
        height: 338px;
        background: white;
        padding: 44px;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.55);
        h2 {
            color: #404040;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0;
            margin-top: 20px;
            margin-bottom: 12px;
        }
        a {
            display: block;
            color: #0067b8;
            margin-top: 15px;
            font-size: 14px;
        }
        .create_input_1 {
            margin-top: 8px;
            #email {
                width: 100%;
                border: 0;
                border-bottom: 1px solid black;
                line-height: 30px;
            }
        }
        .create_input_2 {
            margin-top: 8px;
            display: none;
            .create_telfrom {
                width: 100%;
                height: 35px;
                border: 0;
                border-bottom: 1px solid black;
                font-size: 15px;
            }
            #create_tel {
                width: 100%;
                border: 0;
                border-bottom: 1px solid black;
                line-height: 30px;
                margin-top: 10px;
                font-size: 15px;
            }
        }
        .create_input_3 {
            display: none;
            margin-top: 8px;
            .ci3_border {
                width: 100%;
                height: 38px;
                border-bottom: 1px solid black;
                #setemail {
                    width: 60%;
                    height: 34px;
                    border: none;
                    font-size: 15px;
                }
                .email_houzhui {
                    width: 35%;
                    height: 34px;
                    border: none;
                }
            }
        }
        .next {
            width: 108px;
            height: 32px;
            text-align: center;
            color: white;
            background: #005da6;
            border: none;
            position: absolute;
            right: 44px;
            bottom: 44px;
        }
    }
}


/*==============xiangqingye======================*/

#current_pos_wrap {
    background: white;
}

#current_pos {
    @include common(24px);
    line-height: 24px;
    font-size: 12px;
    background: white;
    a {
        color: #515151;
    }
}

#banner_xq_wrap {
    background: white;
}

#banner_xq {
    @include common(100%);
    background: white;
    .banner_xq_left {
        width: 50%;
        height: 510px;
        float: left;
        display: inline-block;
        box-sizing: border-box;
        padding-top: 15px;
        position: relative;
        .big_pic {
            width: 500px;
            height: 330px;
            position: relative;
            #mark{
                width: 100%;
                height: 100%;
                opacity: 0;
                position: absolute;
                z-index: 10;
            }
            #small_box{
                width: 100px;
                height: 100px;
                border: 1px solid;
                background: white;
                opacity: .3;
                position: absolute;
                z-index: 9;
                display: none;
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                background: white;
            }
        }
        #eye{
            width: 500px;
            height: 330px;
            border: 1px solid black;
            position: absolute;
            top:15px;
            overflow: hidden;
            left: 500px;
            z-index: 10;
            display: none;
            img{
                width: 300%;
                height: 300%;
                position: absolute;
                background: white;
            }
        }
        .small_pic {
            @include common(66px, 258px);
            display: flex;
            justify-content: space-between;
            a {
                display: block;
                width: 60px;
                height: 60px;
                box-sizing: border-box;
                padding: 10px 0;
                img {
                    width: 60px;
                    height: 40px;
                    display: inline-block;
                }
            }
        }
        .referral {
            @include common(75px, 555px);
            background-color: #f6f6f6;
            padding: 7px;
            text-align: left;
            font-size: 14px;
            line-height: 20px;
            color: #666;
            margin-top: 20px;
            box-sizing: border-box;
            text-indent: 28px;
        }
    }
    .banner_xq_right {
        width: 48%;
        height: 606px;
        display: inline-block;
        overflow: hidden;
        .kongbai {
            height: 65px;
        }
        h1 {
            font-size: 24px;
            line-height: 30px;
        }
        .xq_price {
            height: 80px;
            border-bottom: 1px solid #c7c7c7;
            line-height: 80px;
            position: relative;
            font-size: 14px;
            .shoujia {
                font-size: 14px;
            }
            .rmb {
                font-size: 24px;
                color: #da3b01;
            }
            .evaluate {
                width: 207px;
                height: 60px;
                position: absolute;
                right: 0;
                bottom: 0;
                img {
                    width: 116px;
                    height: 20px;
                    display: inline-block;
                    background: #C0C0C0;
                    position: relative;
                    top: 5px;
                }
            }
        }
        p {
            line-height: 21px;
            font-size: 14px;
            box-sizing: border-box;
            margin: 20px 0;
            a {
                color: #0067b8;
            }
        }
        h5 {
            display: block;
            height: 52px;
            font-size: 16px;
            line-height: 60px;
        }
        .options {
            height: 60px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #c7c7c7;
            .options_btn {
                display: inline-block;
                width: 260px;
                height: 40px;
                border: 1px solid #cccccc;
                font-size: 14px;
                line-height: 40px;
                text-indent: 5px;
                span {
                    font-size: 12px;
                }
            }
        }
        .xq_buy {
            height: 75px;
            box-sizing: border-box;
            padding-top: 25px;
            a {
                width: 150px;
                height: 35px;
                line-height: 35px;
                border: none;
                text-align: center;
                font-size: 14px;
                background-color: #da3b01;
                color: #fff;
                margin-bottom: 15px;
                float: right;
            }
        }
    }
}
#stairs_wrap{
    width: 100%;
    height: 72px;

}
#stairs {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #CCCCCC;
    ul {
        @include common(72px);
        li {
            float: left;
            a {
                float: left;
                width: 86px;
                height: 72px;
                line-height: 72px;
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

.xq_img1_wrap {
    background: url(../img/xq_img1.png) no-repeat center/cover;
    .xq_img1 {
        @include common(312px);
        img {
            width: 100%;
            height: 312px;
        }
    }
}

.xq_img2 {
    @include common(353px);
    background: url(../img/xq_img2.png) no-repeat center/cover;
    position: relative;
    h4 {
        font-size: 36px;
        color: white;
        position: absolute;
        right: 100px;
        top: 70px;
    }
    p {
        position: absolute;
        right: 35px;
        top: 135px;
        width: 460px;
        height: 115px;
        color: white;
        font-size: 18px;
        margin-bottom: 22px;
    }
}

.xq_img3 {
    @include common(385px);
    overflow: hidden;
    position: relative;
    margin-top: 50px;
    h4 {
        width: 327px;
        font-size: 36px;
        margin: 80px 0 15px 20px;
    }
    p {
        margin-left: 20px;
        width: 327px;
        height: 69px;
        font-size: 18px;
        a {
            color: #0077d3;
        }
    }
    img {
        width: 730px;
        height: 385px;
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
    }
}

.xq_img4_wrap {
    background: #0078d7;
}

.xq_img4 {
    position: relative;
    @include common(353px);
    background: url(../img/xq_img4.png) no-repeat center/cover;
    position: relative;
    h4 {
        right: 350px;
    }
    p {
        a {
            color: white;
            text-decoration: underline;
        }
    }
}

.xq_img5 {
    @include common(393px);
    position: relative;
    img {
        width: 754px;
        height: 356px;
        display: inline-block;
    }
    .img5_textcontent {
        position: absolute;
        top: 60px;
        right: 0;
        width: 289px;
        height: 283px;
        h4 {
            font-size: 36px;
            margin-bottom: 15px;
        }
        P {
            margin-bottom: 10px;
            font-size: 18px;
        }
    }
}

.xq_title {
    @include common(47px);
    margin-bottom: 30px;
    font-size: 36px;
}

#xq_mainContainer {
    @include common(100%);
    ul:nth-of-type(1) {
        float: left;
    }
    ul {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        border: 1px solid #999999;
        margin-right: -1px;
        border-bottom: 0;
        li:nth-of-type(1) {
            height: 178px;
        }
        li:nth-of-type(2) {
            height: 246px;
        }
        li:nth-of-type(3) {
            height: 158px;
        }
        li:nth-of-type(4) {
            height: 308px;
        }
        li:nth-of-type(5) {
            height: 210px;
            a {
                color: #0067b8;
            }
        }
        li {
            border-bottom: 1px solid #999999;
            .xq_title_name {
                font-size: 18px;
                display: inline-block;
                width: 26%;
                box-sizing: border-box;
                border-right: 1px solid #999999;
                height: 100%;
                padding-left: 14px;
                vertical-align: top;
            }
        }
        .xq_title_con {
            font-size: 18px;
            box-sizing: border-box;
            display: inline-block;
            vertical-align: top;
            width: 73%;
            height: 100%;
            padding: 0 36px;
            line-height: 28px;
        }
        .xq_inner {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

#xq_questions {
    @include common(100%);
    .xq_questions_cons {
        padding-left: 15px;
        box-sizing: border-box;
        .part {
            margin-bottom: 28px;
            h5 {
                font-size: 24px;
                margin-bottom: 5px;
            }
            .q {
                font-size: 24px;
                margin-bottom: 5px;
            }
            .a {
                font-size: 18px;
                line-height: 28px;
            }
        }
    }
}

#xq_comment_wrap {
    background: white;
}

#xq_comment {
    @include common(100%);
    background: white;
    box-sizing: border-box;
    padding: 50px 0;
    .comment_container {
        @include common(71px);
        position: relative;
        h3 {
            font-size: 40px;
            color: #333333;
        }
        p {
            font-size: 14px;
            color: #333333;
        }
        a {
            position: absolute;
            top: 42px;
            right: 0;
            display: inline-block;
            width: 150px;
            height: 35px;
            line-height: 34px;
            border: 1px solid #da3b01;
            text-align: center;
            font-size: 14px;
            color: #da3b01;
            background-color: #fff;
        }
    }
    .xq_comments {
        margin-top: 20px;
        box-sizing: border-box;
        li {
            margin-bottom: 20px;
            .xq_comment_container {
                font-size: 16px;
                background-color: #f5f5f5;
                padding: 20px 30px;
                line-height: 24px;
                box-sizing: border-box;
                .xq_title_box {
                    .xq_tit {
                        font-size: 18px;
                        color: #000000;
                        display: inline-block;
                    }
                    img {
                        display: inline-block;
                        width: 148px;
                        height: 24px;
                        float: right;
                        background: red;
                    }
                }
                .xq_content {
                    margin-top: 20px;
                    color: #666666;
                }
                .xq_time {
                    margin-top: 14px;
                }
            }
        }
    }
    .xq_pager {
        height: 50px;
        background: #f5f5f5;
        line-height: 50px;
        color: #666666;
        font-size: 0;
        text-align: right;
        span {
            font-size: 16px;
            margin-right: 15px;
        }
        button {
            width: 90px;
            height: 35px;
            border: none;
            display: inline-block;
            color: #1370a5;
            text-align: center;
            background-color: #fff;
            font-size: 14px;
            margin-top: 7px;
            line-height: 35px;
            margin-right: 10px;
        }
    }
}