@charset "UTF-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style: none;
}

img,
fieldset {
  border: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

body {
  font-family: "微软雅黑";
}

input,
a {
  outline: none;
}

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("truetype"), url("../iconfont/iconfont.svg#iconfont") format("svg");
}
#header_top {
  width: 100%;
  margin: 0 auto;
  height: 34px;
  background: #0067b8;
}
#header_top a {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 34px;
  color: white;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
}

#header_wrap {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  background: #f5f5f5;
}

#header {
  width: 1115px;
  margin: 0 auto;
  height: 50px;
  background: #f5f5f5;
  line-height: 50px;
  position: relative;
}
#header img {
  display: block;
  float: left;
  margin-top: 14px;
}
#header a:nth-of-type(2) {
  font-size: 14px;
  margin-left: 60px;
}
#header input {
  width: 345px;
  margin: 0 auto;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #707070;
  text-indent: 5px;
  position: absolute;
  top: 10px;
  right: 125px;
  background: #f5f5f5;
}
#header span {
  font-family: 'iconfont';
  font-size: 20px;
}
#header a:nth-of-type(3) span {
  position: absolute;
  right: 130px;
  font-size: 24px;
}
#header a:nth-of-type(4) span {
  position: absolute;
  right: 85px;
}
#header a:nth-of-type(5) {
  font-size: 14px;
  position: absolute;
  right: 20px;
}
#header i {
  font-style: inherit;
  position: absolute;
  right: 8px;
  top: 8px;
}

#nav_wrap {
  width: 100%;
  margin: 0 auto;
  height: 71px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav {
  width: 1115px;
  margin: 0 auto;
  height: 71px;
  overflow: hidden;
}
#nav ul {
  float: left;
}
#nav ul li {
  float: left;
  line-height: 70px;
  margin-right: 50px;
  position: relative;
}
#nav ul li a {
  color: #0067b8;
  font-size: 14px;
}
#nav ul li:nth-of-type(1) a {
  color: #333333;
  font-size: 16px;
}
#nav ul li:nth-of-type(2) i {
  box-sizing: border-box;
  font-style: inherit;
  position: absolute;
  top: 6px;
}
#nav ul li:nth-of-type(2) ul {
  width: 250px;
  margin: 0 auto;
  height: 278px;
  background: white;
  position: absolute;
  left: -20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
}
#nav ul li:nth-of-type(2) ul li {
  width: 248px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
  text-indent: 20px;
}
#nav ul li:nth-of-type(2) ul li a {
  font-size: 14px;
  color: #333;
}
#nav ul li:nth-of-type(3) i {
  box-sizing: border-box;
  font-style: inherit;
  position: absolute;
  top: 6px;
}
#nav ul li:nth-of-type(3) ul {
  width: 250px;
  margin: 0 auto;
  height: 278px;
  background: white;
  position: absolute;
  left: -20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  display: none;
}
#nav ul li:nth-of-type(3) ul li {
  width: 248px;
  margin: 0 auto;
  height: 54px;
  line-height: 54px;
  text-indent: 20px;
}
#nav ul li:nth-of-type(3) ul li a {
  font-size: 14px;
  color: #333;
}
#nav .nav_right {
  float: right;
  line-height: 70px;
}
#nav .nav_right a {
  color: #0067b8;
  font-size: 12px;
}
#nav .nav_right span {
  color: #333333;
  font-size: 12px;
  margin: 0 15px 0 30px;
}

#banner {
  width: 1115px;
  margin: 0 auto;
  height: 426px;
  position: relative;
}
#banner span {
  width: 50px;
  margin: 0 auto;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 9;
  text-align: center;
  line-height: 50px;
  transform: translateY(-50%);
  top: 50%;
  font-size: 24px;
}
#banner ol {
  width: 60px;
  margin: 0 auto;
  height: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  display: flex;
}
#banner ol li {
  width: 8px;
  margin: 0 auto;
  height: 8px;
  border: 1px solid;
  border-radius: 50%;
}
#banner .button_left {
  left: 0;
}
#banner .button_right {
  right: 0;
}
#banner img {
  width: 1115px;
  margin: 0 auto;
  height: 426px;
  position: absolute;
}

#mainContainer {
  width: 1115px;
  margin: 0 auto;
  height: 320px;
  margin-top: 10px;
}
#mainContainer ul {
  width: 252px;
  margin: 0 auto;
  height: 320px;
  background: #0067b8;
  text-align: center;
  float: left;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-around;
}
#mainContainer ul li a {
  color: #fff;
  font-size: 18px;
}
#mainContainer ul li:nth-of-type(1) {
  padding-top: 4%;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
#mainContainer ul li:nth-of-type(9) {
  padding-bottom: 6%;
}
#mainContainer .mainContainer_right {
  width: 818px;
  margin: 0 auto;
  height: 320px;
  float: right;
}
#mainContainer .mainContainer_right ul {
  width: 818px;
  margin: 0 auto;
  height: 320px;
  flex-direction: row;
  background: white;
  text-align: left;
  justify-content: space-between;
}
#mainContainer .mainContainer_right ul li {
  padding: 0;
}
#mainContainer .mainContainer_right ul li a {
  color: #000000;
  font-weight: 100;
  font-size: 16px;
}
#mainContainer .mainContainer_right ul li a img {
  display: block;
  width: 262px;
  margin: 0 auto;
  height: 143px;
  margin: 0;
}
#mainContainer .mainContainer_right ul li a p {
  width: 262px;
  margin: 0 auto;
  height: 90px;
  margin: 10px 0 5px 0;
}
#mainContainer .mainContainer_right ul li a .more {
  color: #0067b8;
}

#sliderList {
  width: 1115px;
  margin: 0 auto;
  height: 377px;
  margin-top: 37px;
}
#sliderList .list_top {
  width: 1115px;
  margin: 0 auto;
  height: 60px;
  color: #333;
  font-size: 30px;
  line-height: 60px;
  border-bottom: 1px solid #000000;
}
#sliderList .list_main {
  width: 1115px;
  margin: 0 auto;
  height: 316px;
  position: relative;
}
#sliderList .list_main ul {
  width: 1021px;
  margin: 0 auto;
  height: 306px;
  position: absolute;
  bottom: 0;
  left: 62px;
  display: flex;
  justify-content: space-between;
}
#sliderList .list_main ul li img {
  display: block;
  width: 202px;
  margin: 0 auto;
  height: 151px;
}
#sliderList .list_main ul li h4 {
  margin-top: 15px;
  color: #333;
}
#sliderList .list_main ul li p {
  font-size: 13px;
  color: #666;
  line-height: 30px;
}
#sliderList .list_main ul li span {
  display: block;
  margin-top: 35px;
  line-height: 24px;
  color: red;
}

#indexList {
  width: 1115px;
  margin: 0 auto;
  height: 20px;
}

#productChannels {
  width: 1115px;
  margin: 0 auto;
  height: 404px;
}
#productChannels .Channels_top {
  width: 1115px;
  margin: 0 auto;
  height: 60px;
  color: black;
  font-size: 30px;
  line-height: 60px;
}
#productChannels .bg_1 {
  background: url(../img/Surface00.png) no-repeat;
  background-position: 0 145px;
}
#productChannels .bg_2 {
  background: url(../img/Offic00.png) no-repeat;
  background-position: 18px 115px;
}
#productChannels .bg_3 {
  background: url(../img/Xbox00.jpg) no-repeat;
  background-position: 15px 85px;
}
#productChannels .bg_4 {
  background: url(../img/Peijian00.png) no-repeat;
  background-position: 0 145px;
}
#productChannels .inner {
  width: 278px;
  margin: 0 auto;
  height: 342px;
  border: 1px solid #e4e4e4;
  float: left;
  box-sizing: border-box;
  padding: 15px;
}
#productChannels .inner p {
  font-size: 18px;
  line-height: 28px;
}
#productChannels .inner a {
  font-size: 14px;
  color: #5E5E5E;
}
#productChannels .inner_2 {
  width: 278px;
  margin: 0 auto;
  height: 342px;
  border: 1px solid #e4e4e4;
  border-left: 0;
  box-sizing: border-box;
  padding: 15px;
  float: left;
}
#productChannels .inner_2 img {
  display: block;
  width: 256px;
  margin: 0 auto;
  height: 154px;
}
#productChannels .inner_2 h3 {
  margin-top: 8%;
  color: #333;
  font-size: 16px;
  color: black;
}
#productChannels .inner_2 p {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  overflow: hidden;
  margin: 3% 0 14% 0;
}
#productChannels .inner_2 span {
  color: #da3b01;
  font-size: 13px;
  line-height: 18px;
}
#productChannels .inner_2 span strong {
  font-size: 18px;
}

#indexSecond {
  width: 100%;
  margin: 0 auto;
  height: 45px;
}

#content {
  width: 100%;
  margin: 0 auto;
  height: 97px;
  border-top: 1px solid #CCCCCC;
}
#content ul {
  width: 1115px;
  margin: 0 auto;
  height: 97px;
  display: flex;
  flex-direction: row;
}
#content ul li:nth-of-type(6) {
  border: 0;
}
#content ul li {
  height: 54px;
  flex: 1;
  border-right: 1px solid #CCCCCC;
  box-sizing: border-box;
  vertical-align: top;
  margin: 21px 0;
}
#content ul li a {
  text-align: center;
}
#content ul li a .tubiao {
  margin: 0 auto;
  width: 30px;
  height: 30px;
}
#content ul li a .jlt_1 {
  background: url(../img/jingling.png) no-repeat left top;
}
#content ul li a .jlt_2 {
  background: url(../img/jingling.png) no-repeat -45px top;
}
#content ul li a .jlt_3 {
  background: url(../img/jingling.png) no-repeat -89px top;
}
#content ul li a .jlt_4 {
  background: url(../img/jingling.png) no-repeat -138px top;
}
#content ul li a .jlt_5 {
  background: url(../img/jingling.png) no-repeat -188px top;
}
#content ul li a .jlt_6 {
  background: url(../img/jingling.png) no-repeat -236px top;
}
#content ul li a p {
  font-size: 16px;
  line-height: 24px;
  color: #666;
  margin-top: 5px;
}

#footer-wrap {
  width: 100%;
  margin: 0 auto;
  height: 743px;
  background: #eeeeee;
}
#footer-wrap #footer {
  width: 1115px;
  margin: 0 auto;
  height: 743px;
  background: #EEEEEE;
}
#footer-wrap #footer .footer_top {
  border-bottom: 1px solid #737373;
  color: #666;
  padding: 15px 0;
  line-height: 36px;
}
#footer-wrap #footer .footer_top span {
  line-height: 36px;
  color: #666666;
}
#footer-wrap #footer .footer_top .inpbox {
  display: inline-block;
  height: 30px;
  font-size: 0;
  vertical-align: middle;
  margin: 0 14px;
  box-sizing: border-box;
}
#footer-wrap #footer .footer_top .inpbox input {
  font-size: 14px;
  height: 30px;
  border: 1px solid #cccccc;
  width: 220px;
  padding: 0 5px;
}
#footer-wrap #footer .footer_top .inpbox .btn {
  display: inline-block;
  width: 80px;
  text-decoration: none;
  color: #fff;
  text-decoration: center;
  line-height: 30px;
  background-color: #0067b8;
  font-size: 14px;
  margin-left: -1px;
  text-align: center;
  border: none;
}
#footer-wrap #footer .footer_top a {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  color: #0d71a6;
  text-decoration: underline;
}
#footer-wrap #footer_list {
  width: 1115px;
  margin: 0 auto;
  height: 585px;
  margin-top: 30px;
}
#footer-wrap #footer_list li {
  height: 368px;
  background: yellowc;
}

/*# sourceMappingURL=style.css.map */
