@charset "utf-8";
body,
ul,
li,
dl,
dt,
dd,
p,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
form,
img,
table,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

ul,
li,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

body {
    font-family: "微软雅黑";
}

input,
a {
    outline: none;
}

@mixin common($h, $w:1115px) {
    width: $w;
    margin: 0 auto;
    height: $h;
}

@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), url('../iconfont/iconfont.woff') format('woff'), url('../iconfont/iconfont.ttf') format('truetype'), url('../iconfont/iconfont.svg#iconfont') format('svg');
}

#header_top {
    @include common(34px,
    100%);
    background: #0067b8;
    a {
        display: block;
        @include common(34px,
        100%);
        color: white;
        text-align: center;
        line-height: 34px;
        font-size: 14px;
    }
}

#header_wrap {
    @include common(50px,
    100%);
    background: #f5f5f5;
}

#header {
    @include common(50px);
    background: #f5f5f5;
    line-height: 50px;
    position: relative;
    img {
        display: block;
        float: left;
        margin-top: 14px;
    }
    a:nth-of-type(2) {
        font-size: 14px;
        margin-left: 60px;
    }
    input {
        @include common(30px,
        345px);
        box-sizing: border-box;
        border: 1px solid #707070;
        text-indent: 5px;
        position: absolute;
        top: 10px;
        right: 125px;
        background: #f5f5f5;
    }
    span {
        font-family: 'iconfont';
        font-size: 20px;
    }
    a:nth-of-type(3) {
        span {
            position: absolute;
            right: 130px;
            font-size: 24px;
        }
    }
    a:nth-of-type(4) {
        span {
            position: absolute;
            right: 85px;
        }
    }
    a:nth-of-type(5) {
        font-size: 14px;
        position: absolute;
        right: 20px;
    }
    i {
        font-style: inherit;
        position: absolute;
        right: 8px;
        top: 8px;
    }
}

#nav_wrap_wrap {
    @include common(71px,
    100%);
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav_wrap {
    @include common(71px,
    100%);
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#nav {
    @include common(71px);
    ul {
        float: left;
        li {
            float: left;
            line-height: 70px;
            margin-right: 50px;
            position: relative;
            a {
                color: #0067b8;
                font-size: 14px;
            }
        }
        li:nth-of-type(1) {
            a {
                color: #333333;
                font-size: 16px;
            }
        }
        li:nth-of-type(2) {
            i {
                box-sizing: border-box;
                font-style: inherit;
                position: absolute;
                top: 6px;
            }
            ul {
                @include common(278px,
                250px);
                background: white;
                position: absolute;
                left: -20px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-top: none;
                display: none; //一会记得删!!
                z-index: 99;
                li {
                    @include common(54px,
                    248px);
                    line-height: 54px;
                    text-indent: 20px;
                    a {
                        font-size: 14px;
                        color: #333;
                    }
                }
            }
        }
        li:nth-of-type(3) {
            i {
                box-sizing: border-box;
                font-style: inherit;
                position: absolute;
                top: 6px;
            }
            ul {
                @include common(278px,
                250px);
                background: white;
                position: absolute;
                left: -20px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-top: none;
                display: none; //一会记得删!!
                z-index: 99;
                li {
                    @include common(54px,
                    248px);
                    line-height: 54px;
                    text-indent: 20px;
                    a {
                        font-size: 14px;
                        color: #333;
                    }
                }
            }
        }
    }
    .nav_right {
        float: right;
        line-height: 70px;
        a {
            color: #0067b8;
            font-size: 12px;
        }
        span {
            color: #333333;
            font-size: 12px;
            margin: 0 15px 0 30px;
        }
    }
}

#banner {
    @include common(426px);
    position: relative;
    overflow: hidden;
    span {
        @include common(50px,
        50px);
        display: block;
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, .5);
        z-index: 9;
        text-align: center;
        line-height: 50px;
        transform: translateY(-50%);
        top: 50%;
        font-size: 24px;
        display: none;
        box-shadow: 3px 3px 10px black;
    }
    ul {
        width: 300%;
        position: absolute;
        top: 0;
        left: 0;
        li {
            float: left;
            img {
                @include common(426px);
            }
        }
    }
    ol {
        @include common(10px,
        60px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        display: flex;
        li {
            @include common(8px,
            8px);
            border: 1px solid #333333;
            border-radius: 50%;
        }
        .current {
            background: #333333;
        }
    }
    .button_left {
        left: 0;
    }
    .button_right {
        right: 0;
    }
}

#mainContainer {
    @include common(320px);
    margin-top: 10px;
    ul {
        @include common(320px,
        252px);
        background: #0067b8;
        text-align: center;
        float: left;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-around;
        li {
            a {
                color: #fff;
                font-size: 18px;
            }
        }
        li:nth-of-type(1) {
            padding-top: 4%;
            font-size: 20px;
            color: #fff;
            font-weight: 600;
        }
        li:nth-of-type(9) {
            padding-bottom: 6%;
        }
    }
    .mainContainer_right {
        @include common(320px,
        818px);
        float: right;
        ul {
            @include common(320px,
            818px);
            flex-direction: row;
            background: white;
            text-align: left;
            justify-content: space-between;
            li {
                padding: 0;
                a {
                    color: #000000;
                    font-weight: 100;
                    font-size: 16px;
                    img {
                        display: block;
                        @include common(143px,
                        262px);
                        margin: 0;
                    }
                    p {
                        @include common(90px,
                        262px);
                        margin: 10px 0 5px 0;
                    }
                    .more {
                        color: #0067b8;
                    }
                }
            }
        }
    }
}

#sliderList {
    @include common(377px);
    margin-top: 37px;
    .list_top {
        @include common(60px);
        color: #333;
        font-size: 30px;
        line-height: 60px;
        border-bottom: 1px solid #000000;
    }
    .list_main {
        @include common(316px);
        position: relative;
        ul {
            @include common(306px,
            1021px);
            position: absolute;
            bottom: 0;
            left: 62px;
            display: flex;
            justify-content: space-between;
            li {
                img {
                    display: block;
                    @include common(151px,
                    202px);
                }
                h4 {
                    margin-top: 15px;
                    color: #333;
                }
                p {
                    font-size: 13px;
                    color: #666;
                    line-height: 30px;
                }
                span {
                    display: block;
                    margin-top: 35px;
                    line-height: 24px;
                    color: red;
                }
            }
        }
    }
}

#indexList {
    @include common(20px);
}

#productChannels {
    @include common(404px);
    .Channels_top {
        @include common(60px);
        color: black;
        font-size: 30px;
        line-height: 60px;
    }
    .bg_1 {
        background: url(../img/Surface00.png) no-repeat;
        background-position: 0 145px;
    }
    .bg_2 {
        background: url(../img/Offic00.png) no-repeat;
        background-position: 18px 115px;
    }
    .bg_3 {
        background: url(../img/Xbox00.jpg) no-repeat;
        background-position: 15px 85px;
    }
    .bg_4 {
        background: url(../img/Peijian00.png) no-repeat;
        background-position: 0 145px;
    }
    .inner {
        @include common(342px,
        278px);
        border: 1px solid #e4e4e4;
        float: left;
        box-sizing: border-box;
        padding: 15px;
        p {
            font-size: 18px;
            line-height: 28px;
        }
        a {
            font-size: 14px;
            color: #5E5E5E;
        }
    }
    .inner_2 {
        @include common(342px,
        278px);
        border: 1px solid #e4e4e4;
        border-left: 0;
        box-sizing: border-box;
        padding: 15px;
        float: left;
        img {
            display: block;
            @include common(154px,
            256px);
        }
        h3 {
            margin-top: 8%;
            color: #333;
            font-size: 16px;
            color: black;
        }
        p {
            font-size: 14px;
            line-height: 24px;
            color: #666666;
            overflow: hidden;
            margin: 3% 0 14% 0;
        }
        span {
            color: #da3b01;
            font-size: 13px;
            line-height: 18px;
            strong {
                font-size: 18px;
            }
        }
    }
}

#indexSecond {
    @include common(45px,
    100%);
}

#content {
    @include common(97px,
    100%);
    border-top: 1px solid #CCCCCC;
    ul {
        @include common(97px);
        display: flex;
        flex-direction: row;
        li:nth-of-type(6) {
            border: 0;
        }
        li {
            height: 54px;
            flex: 1;
            border-right: 1px solid #CCCCCC;
            box-sizing: border-box;
            vertical-align: top;
            margin: 21px 0;
            a {
                text-align: center;
                .tubiao {
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                }
                .jlt_1 {
                    background: url(../img/jingling.png) no-repeat left top;
                }
                .jlt_2 {
                    background: url(../img/jingling.png) no-repeat -45px top;
                }
                .jlt_3 {
                    background: url(../img/jingling.png) no-repeat -89px top;
                }
                .jlt_4 {
                    background: url(../img/jingling.png) no-repeat -138px top;
                }
                .jlt_5 {
                    background: url(../img/jingling.png) no-repeat -188px top;
                }
                .jlt_6 {
                    background: url(../img/jingling.png) no-repeat -236px top;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #666;
                    margin-top: 5px;
                }
            }
        }
    }
}

#bottom_wrap {
    @include common(245px,
    100%);
    #bottom {
        @include common(245px);
        .bottom_top {
            height: 60px;
            font-size: 30px;
            line-height: 60px;
        }
        ul {
            @include common(185px);
            li {
                width: 10.53497942%;
                margin: 0 0.90534979%;
                box-sizing: border-box;
                position: relative;
                float: left;
                img {
                    width: 100%;
                    display: block;
                    margin-bottom: 9%;
                }
                p {
                    display: block;
                    line-height: 18px;
                    color: #004d91;
                    font-size: 14px;
                    height: 36px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .stars {
                    width: 93px;
                    height: 16px;
                    position: relative;
                    background-color: #C7C7C7;
                    img {
                        display: block;
                        height: 16px;
                        position: absolute;
                        z-index: 100;
                    }
                    .progress {
                        z-index: 99;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 16px;
                        background-color: #da3b01;
                    }
                }
            }
        }
    }
}

#footer-wrap {
    @include common(743px,
    100%);
    background: #eeeeee;
    #footer {
        @include common(678px);
        background: #EEEEEE;
        .footer_top {
            border-bottom: 1px solid #737373;
            color: #666;
            padding: 15px 0;
            line-height: 36px;
            span {
                line-height: 36px;
                color: #666666;
            }
            .inpbox {
                display: inline-block;
                height: 30px;
                font-size: 0;
                vertical-align: middle;
                margin: 0 14px;
                box-sizing: border-box;
                input {
                    font-size: 14px;
                    height: 30px;
                    border: 1px solid #cccccc;
                    width: 220px;
                    padding: 0 5px;
                }
                .btn {
                    display: inline-block;
                    width: 80px;
                    text-decoration: none;
                    color: #fff;
                    text-decoration: center;
                    line-height: 30px;
                    background-color: #0067b8;
                    font-size: 14px;
                    margin-left: -1px;
                    text-align: center;
                    border: none;
                }
            }
            a {
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                color: #0d71a6;
                text-decoration: underline;
            }
        }
        #footer_list {
            @include common(585px);
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
            li {
                width: 22%;
                display: inline-block;
                vertical-align: top;
                h3 {
                    font-size: 16px;
                    color: #333333;
                }
                .links {
                    margin-top: 30px;
                    font-size: 14px;
                    display: flex;
                    flex-direction: column;
                    li {
                        width: 100%;
                        height: 30px;
                        white-space: nowrap;
                        a {
                            color: #0d72a6;
                            line-height: 30px;
                        }
                    }
                }
                .qita_1 {
                    display: block;
                    margin-top: 23px;
                    color: #0d72a6;
                    line-height: 30px;
                    font-size: 14px;
                }
                .links_fg {
                    margin-top: 23px;
                }
                .guanzhu {
                    ul {
                        margin-top: 16px;
                        font-size: 14px;
                        li {
                            display: flex;
                            height: auto;
                            .xinlang {
                                width: 47%;
                                display: inline-block;
                                text-align: center;
                                a {
                                    display: block;
                                    padding-top: 55px;
                                    box-sizing: border-box;
                                    img {
                                        display: inline-block;
                                    }
                                }
                            }
                            .weixin {
                                text-align: center;
                                width: 49%;
                                display: inline-block;
                                img {
                                    display: inline-block;
                                    width: 104px;
                                    height: 102px;
                                }
                                p {
                                    line-height: 19px;
                                    text-align: center;
                                    img {
                                        display: inline-block;
                                        width: 16px;
                                        height: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer_bottom_wrap {
        height: 60px;
        width: 100%;
        background: #f2f2f2;
        .footer_bottom {
            @include common(60px);
            background: #f2f2f2;
            .footer_bottom_left {
                width: 150px;
                height: 60px;
                overflow: hidden;
                float: left;
                a {
                    display: inline-block;
                    line-height: 60px;
                    img {
                        display: inline-block;
                        width: 15px;
                        height: 17px;
                        position: relative;
                        top: 4px;
                    }
                    span {
                        display: inline-block;
                        color: #000;
                        vertical-align: middle;
                        padding: 0 10px;
                        font-size: 12px;
                        box-sizing: border-box;
                    }
                }
            }
            .footer_bottom_right {
                height: 60px;
                float: right;
                a {
                    color: #333333;
                    display: inline-block;
                    margin-right: 10px;
                    font-size: 12px;
                    line-height: 60px;
                    img {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
    }
}

#servers_btn {
    position: fixed;
    display: block;
    width: 35px;
    height: 113px;
    background: url(../img/servers.png) no-repeat center/cover;
    right: 0;
    top: 50%;
    margin-top: -66px;
    border: none;
    cursor: pointer;
}

#subscription_btn {
    position: fixed;
    display: block;
    width: 35px;
    height: 39px;
    background: url(../img/subscription.png) no-repeat center/cover;
    right: 0;
    bottom: 86px;
    z-index: 8999;
    border: none;
}

#Global_ScrollToTop {
    z-index: 8999;
    position: fixed;
    width: 35px;
    height: 35px;
    right: 0;
    bottom: 30px;
    background: url(../img/global.png) no-repeat center/cover;
    cursor: pointer;
    border: none;
    display: none;
}

#zhezhao {
    position: fixed;
    z-index: 10010;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    .dingyue {
        background-color: #eee;
        width: 360px;
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        .dingyue_main {
            width: 260px;
            text-align: center;
            display: inline-block;
            h3 {
                font-size: 22px;
                color: #333333;
                font-weight: 600;
            }
        }
    }
}